.calendar-root {
  display: grid;
  place-items: center;
  height: 100%;

  .directories {
    width: 80%;
    height: 80%;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;

    .dir {
      border-radius: 10px;
      background: #76799d;
    }
  }
}
